.content-container {
  padding-top: 35px;
  @media (max-width: 1087px) {
    padding-left: 10px;
    padding-right: 10px;
  }
  padding-bottom: 35px;
}

.editor-container {
  margin-bottom: 20px;
}

trix-editor {
  background-color: #fff;
  min-height: 300px !important;
  padding: 10px;
  font-size: 20px;
}

.back-button {
  margin-bottom: 20px;
}

.react-trix-suggestions {
  background-color: #000;
}

.react-trix-suggestions a {
  /* for each suggestion */
}
