.content-container {
  padding: 25px;
}

.editor-container {
  margin-bottom: 20px;
}

trix-editor {
  background-color: #fff;
  min-height: 300px !important;
  padding: 10px;
  font-size: 20px;
}

.back-button {
  margin-bottom: 20px;
}
